<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>URL Shortener</title>
  <link href="css/normalize.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <form action="/" method="POST" id="shortener">
    <a href="/">
    <div class="form-title">URL Shortener</div>
    </a>
      <input id="url" name="url" placeholder="Paste a link here to shorten it" type="text" value="<%= (params[:url]) %>">
      <button name="submit" type="submit">Shorten</button>
    <% if @short_url %>
      <div class="result">
        Here is your shortened URL
        <a name="short-url" href="<%= @short_url %>">http://short-url.com/<%= @short_url %></a>
      </div>
    <% end %>
    </form>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- <script type="text/javascript" src="js/result.js"></script> -->
</body>
</html>
